[Unit]
Description=Sauvegarde quotidienne de la base EVASIMU

[Timer]
OnCalendar=*-*-* 03:20:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
